@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

.hull-path {
    fill: rgba(255, 0, 0, 0.1);
    stroke-width: 3px;
    stroke: rgba(255, 0, 0, 0.8);
}

.hull-circle-layer>.hull-circle {
    opacity: 0;
}

.hull-circle,
.circle-layer {
    transition: opacity 0.3s ease;
    pointer-events: auto;
}

.hull-path {
    cursor: grab;
    pointer-events: auto;
    /* Ensure the path can receive hover events */
    transition: fill 0.3s ease, stroke-width 0.3s ease;
}


.hull-group:hover>.hull-circle-layer>.hull-circle,
.circle-layer:hover {
    opacity: 1;
}

.hull-circle {
    stroke: black;
    fill: rgba(0, 0, 0, 0.1);
    stroke-width: 3px;
}

.hull-circle:hover {
    cursor: grab;
}

.hull-circle.selected {
    opacity: 1;
    stroke: blue;
    stroke-width: 2px;
}

.hull-circle.outer {
    stroke-dasharray: 4 2;
    stroke-dashoffset: 1px;
}

.hull-path:hover {
    fill: rgba(255, 0, 0, 0.2);
    stroke-width: 3px;
}